/* this is a reset, * takes every element
*{
	margin:0;
	padding: 0;
}
*/
h1{
	color: blue;
}

body{
	background-color: white;
	color: black;

	font: normal 18px Georgia, serif;

	line-height: 1.5em
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color:red;
}
/* can change color of link once visited
a:visited{
	color:yellow;
}
*/
.container{
	width: 90%;
	margin: auto;
}
.firstP h3{
	text-align: center;
	color: black;
}
.firstP{
	background-color: darkgray;
	color: white;
	border: 5px red solid;
	border-bottom-width: 15px;
	border-left-style: dashed;

	/* could also do this
	border-top: 5px red solid
	border-bottom: 5px red solid;
	border-right: 5px red solid;
	border-left: 5px red solid;
	*/

	border: 5px lightblue solid;

	padding-top: 20px;
	padding-bottom: 20px;
	/* just do it shortcut way*/
	padding: 10px;
	/*this means 70 for top and bottom and 0 for right and left */
	margin: 50px 0;
}
.secondP h3{
	text-align: center;
}
.secondP{
	background-color: lightblue;
	border: 5px black solid;
	padding: 10px;
	margin: 50px 0;
}

/*This will make changes to any h3's in the formSection class*/
.formSection h3{
	color: darkblue;
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: normal;
}

.lists h4{
	color: black;
	margin: 10px;
}
.lists li{
	padding-bottom: 5px;
	border-bottom: dotted 1px black;
}
.lists ul{
	color: darkblue;
	list-style: square;
}
.lists ol{
	color: orange;
	list-style: square;
}

.lists{
	background-color: gray;
	width: 90%;
	margin: auto;
	padding: 5px;
	border-radius: 30px;
}
