/* this is a reset, * takes every element
*{
	margin:0;
	padding: 0;
}
*/
h1{
	color: blue;
}

body{
	background-color: white;
	color: black;

	font: normal 18px Georgia, serif;

	line-height: 1.5em
}

.container{
	width: 80%;
	margin: auto;
}

.firstP{
	background-color: darkgray;
	color: red;
	border: 5px red solid;
	border-bottom-width: 15px;
	border-left-style: dashed;

	/* could also do this
	border-top: 5px red solid
	border-bottom: 5px red solid;
	border-right: 5px red solid;
	border-left: 5px red solid;
	*/

	border: 5px lightblue solid;

	padding-top: 20px;
	padding-bottom: 20px;
	/* just do it shortcut way*/
	padding: 15px;
	/*this means 70 for top and bottom and 0 for right and left */
	margin: 70px 0;
}

/*This will make changes to any h3's in the formSection class*/
.formSection h3{
	color: darkblue;
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
}